
html, body{
	margin:0;
	padding-top: 0;
	font-size: 14px;
	background-color: #000;
	color: #ccc;
	height: 100%;
	font-family: sans-serif;
}

@media only screen and (max-width: 900px) {
  	#bigmap {
		width: 100%;
		height: 60%;
	}
	#legenda{
		background-color: #000;
		padding: 20px;
		position: static;
	}
}
@media only screen and (min-width: 900px) {
  	#bigmap {
  		position: fixed;
		width: 100%;
		height: 100%;
	}
	#legenda{
		position: absolute;
		z-index: 10000;
		right: 0;
		top: 0;
		width: 350px;
		background-color: #000;
		border-left: 4px solid #686F6E;
		border-bottom: 4px solid #686F6E;
		padding: 20px;
	}
}

#legenda h1{
	font-size: 18px;
	margin-top: 0;
}
.bag, .nobag, .bagcomplex, .nobagok {
	width: 30px;
	height: 10px;
	border-width: 2px;
	margin-right: 10px;
	float: left;
	margin-top: 4px;
	clear: both;
}
.bag{
	background-color: #1DA1CB;
}
.nobag{
	background-color: #FC0611;
	width: 10px;
	margin-right: 30px;
	border-radius: 5px;
}
.nobagok{
	background-color: #EDDD26;
	width: 10px;
	margin-right: 30px;
	border-radius: 5px;
}
.bagcomplex{
	background-color: #CD5ED9;
}
#monumentlabel{
	margin-top: 30px;
	margin-bottom: 10px;
	font-style: italic;
	font-family: serif;
	font-size: 20px;
}
form{
	margin-top: 30px;
}
a{
	color: #fff;
	text-decoration: none;
}
.leaflet-left .leaflet-control{
	margin-top: 10px;
	margin-left: 10px;
}
.leaflet-container .leaflet-control-attribution{
	color: #000;
}
.leaflet-control-attribution a{
	color: #000;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
	border: 2px solid #000;
}
.light{
	color: #ccc;
}